//colors

$color-primary: #dba72a;
$color-primary-light: #eebf50;
$color-primary-dark: #ce970c;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: rgb(218, 216, 216);

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: white;
$color-black: black;

//grid
$grid-width: 114rem;
$grid-row-mb: 8rem;
$grid-row-mb-small: 6rem;
$grid-gutter: 6rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;

//font sized
$default-font-size: 1.6rem;
