.popup {
  height: 100vh;
  width: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  @supports (backdrop-filter: blur(10px)) or
    (-webkit-backdrop-filter: blur(10px)) {
    background-color: rgba($color-black, 0.3);
    backdrop-filter: blur(10px);
  }
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    opacity: 0;
    overflow: hidden;
    @include absCenter;
    transform: translate(-50%, -50%) scale(0.5);
    width: 65%;
    margin: auto;
    background: $color-white;
    min-height: 25rem;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    display: table;
    transition: all 0.5s 0.2s ease-out;
  }

  &__left {
    width: 33.333333%;
    display: table-cell;
    vertical-align: middle;
    @include respond(tab-port) {
      width: 100%;
      display: block;
      margin-bottom: 1.5rem;
      text-align: center;
      padding-top: 3px;
    }
  }

  &__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
    @include respond(tab-port) {
      width: 100%;
      display: block;
      margin-bottom: 1.5rem;
      padding: 1.5rem;
    }
  }

  &__img {
    display: block;
    width: 100%;

    @include respond(tab-port) {
      padding: 1rem;
      width: 25%;
      display: inline-block;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 2rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    -moz-hyphens: auto;
    hyphens: auto;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }
    &:hover {
      color: $color-primary;
    }

    @include respond(tab-port) {
      padding: 0.3rem 1rem 0.6rem 1rem;
      background: rgba(0, 0, 0, 0.18);
      border-radius: 50%;
    }
  }
}
